[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
django-cleanup = "*"
django-pandas = "*"
django-widget-tweaks = "*"
pandas-profiling = "*"
seaborn = "*"
matplotlib = "*"
js = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
